.header-container {
   display: flex;
   flex-flow: row;
   width: 100%;
   height: 75px;
   background-color: #00BAF0;
   background: linear-gradient(to left, #f46b45, #eea849);
   color: #FFF;
   display: flex;
   justify-content: space-between;
   align-items: center;
   box-shadow: 0px 5px 10px 0px #aaa;
   position: fixed;
   top: 0;
   z-index: 1
}

.header-container input[type="checkbox"],
.header-container .hamburger-lines {
   visibility: hidden;
}

.header-logo {
   display: block;
   height: 50px;
   width: 300px;
   padding: 20px;
}

.header-navigation-links {
   display: inline-flex;
   gap: 15px;
   align-items: center;
   margin-right: 150px;

}

.header-navigation-link {
   display: inline-block;
   padding: 10px 20px;
   background-color: #36A7A2; /* Background color */
   color: #FFFFFF; /* Text color */
   border: none;
   border-radius: 5px;
   font-size: 16px;
   font-weight: bold;
   text-align: center;
   text-decoration: none;
   cursor: pointer;
   width: 150px;
   height: 40px;
   transition: background-color 0.3s, transform 0.2s;
}

.header-navigation-menu-hambuger{
   display: none;
}

.header-navigation-link:hover {
   background-color: #FF4545; /* Hover background color */
   transform: scale(1.05);
}

@media only screen and (max-width: 830px) {
   .header-logo {
      padding: 15px 0;
      transform: scale(0.9);
   }

   /* #region Navigation buttons */
   .header-navigation-links {
      background: #fff;
      height: 100vh;
      display: flex;
      flex-direction: column;
      padding: 100px 50px;
      transition: transform 0.5s ease-in-out;
      box-shadow: 5px 0px 10px 0px #aaa;
      position: fixed;
      top: 0px;
      left: 100%;
      opacity: 0.85;
   }

   .header-navigation-links.show {
      transform: translate(-100%);
   }

   /* #endregion */

   /* #region Hamburger Icon */
   .header-container input[type="checkbox"],
   .header-container .hamburger-lines {
      visibility: visible;
   }

   .header-container input[type="checkbox"] {
      position: absolute;
      display: block;
      height: 32px;
      width: 30px;
      top: 26px;
      right: 20px;
      z-index: 5;
      opacity: 0;
    }
  
    .header-container .hamburger-lines {
      display: block;
      height: 23px;
      width: 35px;
      position: absolute;
      top: 26px;
      right: 20px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .header-container .hamburger-lines .line {
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background: #333;
    }
  
    .header-container .hamburger-lines .line1 {
      transform-origin: right;
      transition: transform 0.4s ease-in-out;
    }
  
    .header-container .hamburger-lines .line2 {
      transition: transform 0.2s ease-in-out;
    }
  
    .header-container .hamburger-lines .line3 {
      transform-origin: right;
      transition: transform 0.4s ease-in-out;
    }

    .header-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
      transform: rotate(-32deg);
    }
  
    .header-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
      transform: scaleY(0);
    }
  
    .header-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
      transform: rotate(32deg);
    }
    /* #endregion */
 }